table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 3px;
}

.one{
    margin: auto;
    width: 30%;
}

table{
    width: 100%;
    font-size: 20px;
}

td{
    width: 50%;
}

tbody tr:nth-child(odd){
    background-color: #c3d5d5;
}